<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-lg font-semibold" data-turbo="false">Admin Panel</a>
        <div class="space-x-4">
            <a href="/restaurants" class="hover:text-gray-300" data-turbo="false">Dodaj Rezerwacje</a>
            <a href="/reservations" class="hover:text-gray-300" data-turbo="false">Lista Rezerwacji</a>
        </div>
    </div>
</nav>
